 @import url('estilo.css');
 @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
*{
    box-sizing:border-box;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* seminegrita, porque todo negrita podria afectar la lectura prolongada*/
    font-style: normal;
}

:root{
    --color_letra: #ffc700;
    --color_fondo: #15297c;
    --blanco: #fff;
}

body{
    background: var(--color_fondo);
    color: var(--color_letra);
}

p {
    color: var(--color_letra);
}

#bloque {
    color: var(--blanco);
    background: var(--color_sec);
}

#eslogan { /* DISEÑO DEL ESLOGAN */
    color: var(--color_letra);
}

nav a {
    text-decoration: none;
    color: var(--color_fondo);
    background: var(--color_letra);
}

/*=================================DISEÑO DEL ELEMENTO INFORMACIÓN SIMPLE=================================*/

#bloque {
    color: var(--color_fondo);
    background: var(--color_letra);
}

#bloque p {
    color: var(--color_fondo);
}

#bloque a {
    color: var(--color_letra);
    background: var(--color_fondo);
}

/*=================================DISEÑO DE LA TABLA=================================*/


th, td {
    /* Aplica el borde de 5px a las celdas de encabezado y datos */
    border: 5px solid #ffc700;
    color: var(--color_letra);
}

/*=================================DISEÑO PRINCIPAL DE LOS FORMULARIOS=================================*/

form{
    color: var(--color_fondo);
    background: var(--color_letra);
}

form h2 {
    color: var(--color_fondo);
    border-bottom: 1.5px solid var(--color_fondo); /* línea debajo */
}

label.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

input:focus {
    background-color: var(--blanco);
    border-color: #000;
    outline: none;
}

form select {
    border: 1px solid var(--color_fondo);
    background-color: var(--blanco);

}

fieldset{
    color: var(--blanco);
}


/*=================================DISEÑO DEL PIE DE PAGINA=================================*/

footer {
    color: var(--color_fondo);
    background: var(--color_letra);

}

footer p {
    color: var(--color_fondo);
}

/*=================================DISEÑO DE BOTONES Y CAMPOS DE ENTRADA=================================*/

button { /* DISEÑO DE LA SECCION DE BUSQUEDA/BOTONES */
    background-color: var(--color_fondo);
    color: var(--color_letra);
}

/*=================================DISEÑO DEL LA SECCION DE LISTADO (ARTÍCULOS)=================================*/

#listado {
    display: block;
}

article{
    background: var(--color_letra);
}


article h2, article h3{
    color: var(--color_fondo);
}

article p{
    color: var(--color_fondo);
}

article a {
    color: var(--blanco);
    background: none;
}
