/* =============================IMPORTAR LOS ESTILOS DE ALTO CONTRASTE=============================*/
@import url('contraste.css');

/* @import url('letra_grande.css') */

body, p, a, button, input, select, textarea, label {
    font-size: 1.6rem !important; 
}

th, td {
    font-size: 1.6rem !important;
}

nav a {
    font-size: 2.0rem !important;
    padding: 20px 0 !important; 
}


h1 {
    font-size: clamp(2.5rem, 9vw, 4.0rem) !important;
}

h2 {
    font-size: clamp(2.2rem, 7vw, 3.5rem) !important;
    border-bottom-width: 4px !important;
}
h3 {
    font-size: clamp(2.0rem, 6vw, 3.0rem) !important; 
}

#bloque p {
    font-size: 2.0rem !important; 
}

article h2, article h3, form h2 {
    font-size: 2.5rem !important; 
}

button {
    font-size: 1.6rem !important;
    padding: 18px 30px !important;
}

footer p {
    font-size: 1.5rem !important;
}