/*=================================BASE Y VARIABLES=================================*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('estilo.css');

:root{
    --color_principal: #1f1a17;
    --color_sec: #a68a67;
    --color_destacado: #ddbaa1;
    --blanco: #f5f5f5;
}

body {
    background: linear-gradient(rgba(20, 15, 12, 0.95), rgba(20, 15, 12, 0.95)), url(../img/fondo.jpg) center/cover fixed no-repeat;
}


/* --- Tipografía y Elementos Comunes --- */

h1 {
    color: var(--color_destacado);
}

h2, h3 {
    color: var(--color_destacado);
}

p {
    color: var(--blanco);
}

/*=================================DISEÑO DEL ELEMENTO INFORMACIÓN SIMPLE=================================*/

#bloque {
    background: #2a2320;
    color: var(--blanco);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#bloque p {
    color: var(--color_sec);
}

#bloque a {
    color: var(--color_principal);
    background: var(--color_destacado);
}

#bloque a:hover {
    background: var(--color_sec);
    color: var(--blanco);
}


/*=================================HEADER Y NAV=================================*/

#eslogan {
    color: var(--blanco);
}

nav a {
    background: #2f2622;
    border: 1px solid rgba(255,255,255,0.1);
}

nav a:hover {
    background: var(--color_destacado);
    color: var(--color_principal);
}


/*=================================BOTONES=================================*/

button {
    background-color: var(--color_destacado);
    color: var(--color_principal);
}

button:hover {
    transform: scale(1.05);
    background-color: var(--color_sec);
    color: var(--blanco);
}

/*=================================FORMULARIOS=================================*/

form{
    background: #2a2320;
    color: var(--blanco);
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

form h2 {
    color: var(--color_destacado);
    border-bottom: 1.5px solid var(--color_destacado);
}

form input, form select, textarea {
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1a1715;
    color: var(--blanco);
}

input:focus {
    border-color: var(--color_destacado);
}

form input[type="radio"] {
    accent-color: var(--color_destacado);
}


/*=================================ARTÍCULOS=================================*/

article{
    background: #2a2320;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

article h2, article h3{
    color: var(--color_destacado);
}

article p {
    color: var(--blanco);
}

article a {
    color: var(--color_destacado);
}


/*=================================TABLAS=================================*/

table, tr, th, td {
    border: 1px solid #555;
    color: var(--blanco);
    background-color: #1c1815;
}


/*=================================FOOTER=================================*/

footer {
    color: var(--blanco);
    background: #2a2320;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer p {
    color: var(--color_destacado);
}
